# ###################################
# APP CONFIGURATION
# ###################################
PORT="port_number"
HOST="host_ip_address"
LOG_LEVEL="log_level"
ENVIRONMENT="environment_name" # either "production", "development" or "test"
BACKEND_URL="http://localhost:port_number"

# ###################################
# CORS CONFIGURATION
# ###################################
ALLOWED_ORIGIN="*"

# ###################################
# DATABASE CONFIGURATION
# ###################################
DATABASE_URL="postgresql://username:password@localhost:port/database_name"
